/* HEADER */

header {
    margin-top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(18, 18, 18, 0.7);
    z-index: 99;
}
#header_contenu{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header_logo img{
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}
#header_navbar-menu{
    display: flex;
    padding-right: 5vw;
}
.header_navbar-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 8vw;
}
.header_navbar-link:hover {
    color: #e5e5e5;
}


/* MENU DEROULANT */

#bouton_cat{
    margin: 0;
}
#bouton_cat:hover{
    cursor: pointer;
}
#menu_deroulant{
    position: relative;
}
#menu_deroulant_categories{
    transition: all 0.3s ease-in-out;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 53px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(18, 18, 18, 0.95);
    border-radius: 0 0 12px 12px;
    z-index: 100;
}
.menu_categorie{
    width: 100%;
    text-decoration: none;
    color: white;
    /*text-align: center;*/
    font-size: 22px;
    padding-left: 15px;
}
.menu_categorie:hover{
    background: rgba(18, 18, 18, 1);
    color: #dedede;
}
.anchor{
    position: relative;
    top: -100px;
}

/* search box */
#search_box {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search_box i{
    color: white;
}
#search_box input {
    font-family: 'Nunito', sans-serif;
    background-color: white;
    font-size: 1rem;
    border-radius: 8px;
    width: 10rem;
    height: 1.4rem;
    border-style: none;
    margin-left: 5px;
}



/* AFFICHE MEILLEUR FILM */
#meilleur_film-color{
    background: #141414;
    width: 100%;
    height: 20%;
    box-shadow: 0 0 30px 5px black;
}
#meilleur_film-image{
    width: 100%;
    height: 53vw;
    background: url("images/insterstellar_res_default.jpg")center center;
    background-size: cover;
    z-index: 1;
    opacity: 0.6;
}

/* MODALE */
.modale {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8) ;

}
.contenu_modale {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    width: 60vw ;
    height: 80vh;
    border: 6px solid white;
    border-radius: 25px;
    overflow: auto;
    color: white;
    text-align: center;
}
.fermer_modale {
    color: #aaa;
    float: right;
    padding-right: 2%;
    font-size: 40px;
    font-weight: bold;
}
.fermer_modale:hover,
.fermer_modale:focus {
    color: white;
    cursor: pointer;
}

/* CAROUSSELS */
#contenu{
    margin-top: -15vw;
    z-index: 2;
    width: 100%;
    height: auto;
}
.caroussel .bouton_slider_left,
.caroussel .bouton_slider_right {
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 3;
}
.caroussel .bouton_slider_left {
    position: absolute;
    top: 50%;
    left: 15px;

}
.caroussel .bouton_slider_right {
    position: absolute;
    top: 50%;
    right: 5px;
}
.caroussel .bouton_slider_left:hover {
    cursor: pointer;
    color: #dedede;
}
.caroussel .bouton_slider_right:hover {
    cursor: pointer;
    color: #dedede;
}
.caroussel {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    position: relative;

}
.contenu_categorie-link{
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 1;
}
.contenu_categorie-link:hover{
    color: #dedede;
}
.films {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: inset 8px black;
    border-radius: 15px;
    overflow: hidden;
    background-color: black;
}
.films img {
    position: relative;
    width: 22.05vw;
    height: auto;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 0 0 15px 8px black;
}


@media all and (max-width: 700px){
    #header_navbar-menu {
        flex-direction: column;
    }
    #header_logo img{
        height: 75%;
        top: 10px;left: -10px;
    }
    .header_navbar-link{
        font-size: 16px;
        padding: 5px;
    }
    #menu_deroulant_categories{
        top: 26px;
    }
    .menu_categorie{
        font-size: 24px;
    }
    #search_box input{
        width: 8rem;
    }
    #search_box i{
        display: none;
    }
    .films img {
        width: 43.7vw;
    }
}
