body, html{
    background-color: #141414;
    margin: 0;
    width: 100%;
}

header {
    margin-top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: helvetica, sans-serif;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.7);
    width: 100%;
    height: 66px;
}

header p{
    margin: 0;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 8%;
}

#logo_image img{
    padding-top: 4%;
    width: 5rem;
}

#menu{
    display: flex;
    text-align: center;

}

#menu a{
    text-decoration: None;
    color: white;
    font-size: 1.2rem;
    margin-left: 3rem;
}

#menu a:hover{
    color: #dedede;
}

#search_box{
    margin-right: 8%;
}

#search_box input{
    font-family: helvetica, sans-serif;
    background-color: white;
    font-size: 1rem;
    color: black;
    border-radius: 8px;
    width: 13rem;
    height: 1.6rem;
}

#meilleur_film img{
    /*background-position: center center;*/
    width: 100%;
    height: auto;
    box-shadow: 0 25px 20px black;

    /*background-position: center left;*/
    /*background-image: url("images/insterstellar_res_default.jpg");*/

    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: 85vh;*/
}

#contenu{
    margin-top: -12%;
    margin-left: 8%;
    margin-right: 8%;
}

#categorie_2,  #categorie_3, #categorie_4{
    margin-top: 3vh;
}

#contenu a{
    position: relative;
    text-decoration: none;
    font-family: helvetica, sans-serif;
    font-size: 1.3rem;
    color: #e5e5e5;
    z-index: 1;
}

#categorie_1 a{
    color: #141414;
    font-weight: bold;
}

.films{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 23vh;

}

.films img{
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-right: 6px;
}

@media all and (max-width: 850px){
    #menu{
        flex-direction: column;
        text-align: center;
        margin-left: min(70px, 50px);
    }

    #menu a{
        margin-right: 0;
        margin-left: 0;
    }
    #search_box input{
        width: 8rem;
        margin-left: 2rem;
    }

    /*#meilleur_film{*/
    /*    height: 33vh;*/
    /*}*/
}

